# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**
+ Overwiev of Data Science Tools
+ Languages of Data Science
+ Packages, API-s, Data sets and Models used by Data Scientists

#### Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Java
4. SQL
5. Julia

#### Some of the commonly used libraries used by Data Scientists include:

1. Numpy
2. Pandas
3. dplyr
4. Breeze
5. TensorFlow

| Data Science Tools |
| --------|
| Jupiter Notebooks |
| R Studio |
| Hadoop |
| Spark |
| Pandas |
| Weka |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes / 60
print(hours)

3.3333333333333335

## Author
Eszter